:root{
    --branco: #fff;
    --brancoFake: #E9ECF5;
    --preto: #000;
    --pretoFake: #313646;
    --headerOn: #B4BCE3;
    --div: #525764;
}

*{
    color: var(--pretoFake);
    font-family: Arial, Helvetica, sans-serif;
}

body{
     background: var(--brancoFake);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

body.load{
    opacity: 1;
}

body header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 1%;
    transition: 0.3s;
    
}
  
body header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 1% 20%;
    list-style-type: none;
    transition: 0.3s;
    
}

body header nav ul button{
    background: transparent;
    font-size: 28px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 1s ease-in-out; 

}

button.on{
    color: var(--headerOn);
}


#novaMusica, #editar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
  
}

#novaMusica h1, #editar h1{
    margin-bottom: 0;
    margin-top: 3%;
    font-size: 25px;
    color: var(--brancoFake);
}

#novaMusica .container, #editar .container{
    background: var(--div);
    width: 95%;
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#novaMusica .container #musicForm, #editar .container #musicForm{
    
    width: 80%;
    text-align: left;
    margin: 3% 0% 3% 0%;
}

#novaMusica label, #editar label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--brancoFake);
}

#novaMusica input[type="text"], #editar input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    background: var(--brancoFake);
    padding: 2%;
    font-size: 16px;
    border: none;
    outline: none;
}

#novaMusica input[type="radio"], #editar input[type="radio"] {
    width: 20px;
    height: 20px;
}

#novaMusica input[type="radio"]:checked, #editar input[type="radio"]:checked{    
    accent-color: var(--pretoFake);    
}

#novaMusica .options, #editar .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#novaMusica .options div, #editar .options div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin: auto;
    
}

#novaMusica .options div label, #editar .options div label{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1%;
    cursor: pointer;
}

#novaMusica label.title, #editar label.title{
    font-size: 20px;
    font-weight: bold;
}

#novaMusica .btn, #editar .btn {
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 3% auto 0% ;
    transition: .3s;
    font-weight: bold;
    font-size: 14px;
}

#novaMusica .btn:hover, #editar .btn:hover {
    filter: brightness(.7);
    transition: .3s;
}


#musicas {
    margin: auto;
    margin-top: 7%;
    margin-bottom: 2%;
    width: 100%;
    transition: .5s;
}

#musicas  .tabela-container {
    background-color: var(--div);
    border-radius: 15px;
    padding: 20px 30px;
    width: 700px;
    margin: auto;
}

#musicas .contadores {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
   
}

#musicas  .filtros {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#musicas  .filtros label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--brancoFake);
}

#musicas .filtros input, #musicas .filtros select {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--brancoFake);
    font-size: 12px;
    color: var(--pretoFake);
    margin-top: 4px;
}

#musicas table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--brancoFake);
    border-radius: 10px;
    overflow: hidden;
}

#musicas thead tr th{
    background: var(--pretoFake);
    color: var(--branco);
    border-bottom: 2px solid ;
}

#musicas th, #musicas td {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid var(--headerOn);
}

#musicas td:last-child {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#musicas tr:last-child td {
    border-bottom: none;
}

#musicas strong {
    color: var(--pretoFake);
}

#musicas .btn-ir {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--pretoFake);
    cursor: pointer;
    transition: color 0.2s ease;
}
  
#musicas .btn-ir:hover {
    color: var(--headerOn);
}
 

#editar h2{
    margin-bottom: 1%;
    margin-top: 0;
    font-size: 16px;
    color: var(--brancoFake);
}

#editar label span{
  color: var(--brancoFake);
}

#editar .btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}


.loading{
    filter: brightness(.6);
    transition: .5s;
    cursor: not-allowed;
    user-select: none;

}

#ballLoading{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    width: 40px;
    height: 40px;

    content: '';

    border-radius: 100%;
    border: 3px solid transparent;
    border-left-color: var(--brancoFake);

    animation: jequiti .8s infinite linear;
}

@keyframes jequiti {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(-360deg);        
    }
}



@media (max-width: 600px) {
    body header nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 5%;
    }

    #novaMusica,
    #editar {
        width: 80vw;
        height: 100vh;
        padding: 20px 0;
    }

    #novaMusica h1,
    #editar h1 {
        font-size: 22px;
    }

    #novaMusica input[type="radio"], #editar input[type="radio"] {
    width: 13px;
    height: 13px;
    }


    #novaMusica .options div, #editar .options div{
    height: 100%;
    }


    #novaMusica .options div label, #editar .options div label{
    font-size: 9px;       
    }

    #novaMusica .btn , #editar .btn {
    padding: 6px 15px;
    margin: 5% auto 0% ;
    transition: .3s;
    font-size: 12px;
    }


    #novaMusica label.title, #editar label.title{
    font-size: 13.5px;
    font-weight: bold;
    }

    #novaMusica .container,
    #editar .container {
        width: 100%;
        padding: 20px;
    }

    #musicas{
        margin-top: 35%;
    }

    #musicas .tabela-container {
        width: 100%;
        padding: 15px;
        overflow-x: hidden
    }

    #musicas .contadores,
    #musicas .filtros {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    #musicas table th,
    #musicas table td {
        font-size: 8px;
        padding: 6px;
    }

    #editar .btns {
        flex-direction: row;
        gap: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    body header nav ul {
        gap: 10%;
        padding: 2% 10%;
    }

    #novaMusica,
    #editar {
        width: 80vw;
        height: 100vh;
        padding: 30px 0;
    }

    #novaMusica .container,
    #editar .container {
        width: 100%;
    }

    #musicas .tabela-container {
        width: 100%;
        overflow-x: auto;
    }

    #editar .btns {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    #musicas{
        margin-top: 25%;
    }
}

footer{
    width: 100vw;
    background: transparent;
    position: relative;
  } 

  footer  #dev{
    position: absolute;
    bottom: 1%;
    left: 1%;
    max-width: 65px;
    border-radius: 20px;
  }


::-webkit-scrollbar {
    width: 14px;
    background: var(--brancoFake);
}
  
::-webkit-scrollbar-thumb {
    background: var(--pretoFake);
    border-radius: 10px;
    border: 2px solid var(--brancoFake);
}














/*

Filipe_Dev7 que produziu tudo

*/
